.App {
  text-align: center;
}

.App input, .App button {
  margin: 10px auto;
}

#buildURL, #buildUser, #buildPass, #submitBtn {
  display: flex;
}

#addURLContainer {
  border: 1px solid;
  width: 300px;
  margin: 30px auto;
  padding: 10px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

table tr, th, td {
  border: 1px solid;
  padding: 10px;
}